{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="CloudCV: Vilbert Multi-Task Demo">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!--Open Graph Related Stuff-->
<meta property="og:title" content="CloudCV" />
<meta property="og:url" content="https://vilbert.cloudcv.org" />
<meta property="og:description" content="CloudCV: Vilbert Multi-Task Demo" />
<meta property="og:site_name" content="CloudCV" />
<meta property="og:image" content="/static/images/vilbert_multitask.png" />
<meta property="og:image:url" content="/static/images/vilbert_multitask.png" />

<!--Twitter Card Stuff-->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="CloudCV: ViLBERT Multi-Task Demo" />
<meta name="twitter:image" content="/static/images/vilbert_multitask.png" />
<meta name="twitter:url" content="https://vilbert.cloudcv.org" />
<meta name="twitter:description" content="12-in-1: Multi-Task Vision and Language Representation Learning"/>

<title>CloudCV: ViLBERT Multi-Task Demo</title>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,‌​100italic,300,300ita‌​lic,400italic,500,50‌​0italic,700,700itali‌​c,900italic,900'
    rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

<script src="{% static 'js/dropzone.js'%}"></script>
<script src="{% static 'js/script.js'%}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.10.0/js/vendor/jquery.ui.widget.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.10.0/js/jquery.iframe-transport.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.10.0/js/jquery.fileupload.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-45466017-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-45466017-9');
</script>
