<div class="container">
    <h3 id="termstart">Terminal</h3>

    <div id="Console" style="height:300px; color: #FFFFFF; background-color: #2B2A2B; overflow:scroll; padding: 10px;">
        <ul id="comments" style='list-style-type:none;'>
        </ul>
    </div>
    <br>

    <div id="underTheHood">
        <p>
            <h3>How it works</h3>
        </p>
        <font size="4">
            <ol>
                <li>You upload an image.</li>
                <li>Our servers run the deep-learning based algorithm.</a>
                </li>
                <li>Results and updates are shown in real-time.</li>
            </ol>
        </font><br><br>
    </div>
</div>